# Untracked files
*~
*.pyc
src/search/config
src/search/latex
src/search/html
builds/
build/
output.lifted
model.lp
plan*
sas_plan
powerlifted.img
powerlifted.sif
reports/
local-tests/
*.out
.vscode/*

fd-builds/
benchmarks/
experiments/
*.sas 
*.lifted
tmp_*/